<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>מעבדת תרגול בסייבר</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>ברוך הבא למעבדת הסייבר!</h1>
    <ul>
        <li><a href="/sql_injection">תרגול SQL Injection</a></li>
        <li><a href="/xss">תרגול XSS</a></li>
        <li><a href="/parameter_tampering">תרגול Parameter Tampering</a></li>
    </ul>
</body>
</html>
